.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    padding: 32px;
  }
}
.freeBox__m3Yqy {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: var(--token-VjgVX-XpR-q3);
  padding-top: 52px;
  padding-bottom: 52px;
  height: 100%;
  max-height: 154px;
  margin-right: 0px;
  min-width: 0;
  min-height: 0;
}
.freeBox__m3Yqy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__m3Yqy > :global(.__wab_flex-container) > *,
.freeBox__m3Yqy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m3Yqy > :global(.__wab_flex-container) > picture > img,
.freeBox__m3Yqy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__m3Yqy {
    display: flex;
    flex-direction: column;
    padding-top: 3px;
    padding-bottom: 0px;
    max-height: 500px;
    height: 100%;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__m3Yqy > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    min-height: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__m3Yqy > :global(.__wab_flex-container) > *,
  .freeBox__m3Yqy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__m3Yqy > :global(.__wab_flex-container) > picture > img,
  .freeBox__m3Yqy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__lwxV {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__lwxV > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__lwxV > :global(.__wab_flex-container) > *,
.freeBox__lwxV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lwxV > :global(.__wab_flex-container) > picture > img,
.freeBox__lwxV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__lwxV > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__lwxV > :global(.__wab_flex-container) > *,
  .freeBox__lwxV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lwxV > :global(.__wab_flex-container) > picture > img,
  .freeBox__lwxV
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button__rZSxa:global(.__wab_instance) {
  position: relative;
}
.svg__x7Bcj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.productDescription {
  color: #1c1c1c;
}
.svg__dkGwl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.purchaseProduct:global(.__wab_instance) {
  position: relative;
}
.svg__cQjMg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__wSpz9 {
  color: #1c1c1c;
}
.svg__dyvna {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.accomplishments:global(.__wab_instance) {
  position: relative;
}
.svg__gj66Z {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__dK8AJ {
  color: #1c1c1c;
}
.svg__w1QaT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.contactUs:global(.__wab_instance) {
  position: relative;
}
.svg___2Ur7W {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.contactUs2 {
  color: #1c1c1c;
}
.svg__yAo9K {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__vU7X {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__sG7Pa:global(.__wab_instance) {
  position: relative;
}
.svg__gZr90 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___4IrJz {
  color: #1c1c1c;
}
.svg__qjLpC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__nPneo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__uTnl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__mNzl1 {
  font-style: italic;
}
.svg__oCK {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
