.carouselBody:global(.__wab_instance) {
  max-width: 100%;
  max-height: 50vw;
  position: relative;
}
.sliderCarousel:global(.__wab_instance) {
  width: 906px;
  max-width: 100%;
  object-fit: cover;
  height: 391px;
  font-style: normal;
  overflow: visible;
  flex-direction: column;
  padding-top: 96px;
  order: 0;
  margin-right: 0px;
  margin-left: 0px;
  align-self: center;
  position: relative;
  border-width: 2px;
  border-style: solid;
}
.link {
  position: relative;
  top: auto;
  left: auto;
  z-index: 1;
  display: flex;
  width: 15vw;
  max-width: 15vw;
  margin: auto;
}
.hos1 {
  object-fit: contain;
  width: 50vw;
  height: 15vw;
  object-position: 50% 50%;
  max-width: 15vw;
  flex-shrink: 0;
  border-radius: 15px;
}
.hos1 > picture > img {
  object-fit: contain;
  object-position: 50% 50%;
}
.hos3 {
  object-fit: contain;
  max-width: 15vw;
  margin-bottom: 0px;
  width: 52vw;
  height: 15vw;
  align-self: center;
  margin-right: 0px;
  margin-left: 0px;
  min-width: 260px;
}
.hos3 > picture > img {
  object-fit: contain;
}
.hos32 {
  object-fit: contain;
  max-width: 100%;
  width: 483px;
  height: 15vw;
  align-self: center;
  object-position: center center;
  margin: auto;
}
.hos32 > picture > img {
  object-fit: contain;
  object-position: center center;
}
.hos33 {
  object-fit: contain;
  max-width: 100%;
  width: 15vw;
  align-self: center;
  height: 15vw;
  margin: auto;
}
.hos33 > picture > img {
  object-fit: contain;
}
.hos34 {
  object-fit: contain;
  max-width: 100%;
  width: 15vw;
  height: 15vw;
  align-self: center;
  margin: auto;
}
.hos34 > picture > img {
  object-fit: contain;
}
