.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #1c1c1c;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 14px;
}
.freeBox__iBpq2 {
  display: flex;
  position: relative;
  max-width: var(--token-FfnkRO1btF_H);
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__iBpq2 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__iBpq2 > :global(.__wab_flex-container) > *,
.freeBox__iBpq2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iBpq2 > :global(.__wab_flex-container) > picture > img,
.freeBox__iBpq2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__iBpq2 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__iBpq2 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__iBpq2 > :global(.__wab_flex-container) > *,
  .freeBox__iBpq2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__iBpq2 > :global(.__wab_flex-container) > picture > img,
  .freeBox__iBpq2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__gwhB3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__gwhB3 {
    justify-content: center;
  }
}
.freeBox__ler1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: auto;
  left: auto;
  top: auto;
  right: auto;
  width: auto;
}
@media (min-width: 0px) and (max-width: 930px) {
  .logo:global(.__wab_instance) {
    align-self: center;
    margin-top: 0px;
  }
}
.text__fhRwG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #eeeeee80;
  font-family: "Montserrat", sans-serif;
  padding-top: 21px;
  align-self: flex-start;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__fhRwG {
    text-align: center;
  }
}
.freeBox__awAw3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__awAw3 {
    align-self: center;
    justify-content: center;
  }
}
.svg__bVw4F {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: auto;
  height: 1em;
}
.svg__vpzhz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg__hpEKc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg___0RGwl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.column__fDksu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__fDksu {
    justify-content: center;
  }
}
.h4__uLrwK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__uLrwK {
    text-align: center;
  }
}
.button__b6KHg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__b6KHg:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__jycxJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___821Fp {
  color: #92959b;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___821Fp {
    text-align: center;
  }
}
.svg__qMtb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___0X9Kq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___0X9Kq:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__w7I3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___47UTo {
  color: #92959b;
}
.svg___9QH3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___04Djg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___04Djg:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__gej {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__fCapa {
  color: #92959b;
}
.svg__pbu4Y {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__rgBSh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__rgBSh:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__r08Xx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__enH6Q {
  color: #92959b;
}
.svg__hPzd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__mh3M6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__mh3M6 {
    justify-content: center;
  }
}
.h4__eqzRk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__eqzRk {
    align-self: center;
    text-align: center;
  }
}
.button__harD:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__harD:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__vjJwl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__n4Xdd {
  color: #92959b;
}
.svg__fw6Pt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__wSKdv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__wSKdv:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__o8Unz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__chFvU {
  color: #92959b;
}
.svg__etJrN {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__hOuj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__hOuj {
    justify-content: center;
  }
}
.h4__vhUy3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__vhUy3 {
    align-self: center;
    text-align: center;
  }
}
.button__niI9H:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__niI9H:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__rcnOa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__xjzH5 {
  color: #92959b;
}
.svg__mXx6V {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__xCxda:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__xCxda:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__e4S37 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__oqcbY {
  color: #92959b;
}
.svg__qxUj1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___7M1Ml:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___7M1Ml:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__qgYpR {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__qkKXd {
  color: #92959b;
}
.svg___1CRrh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__zfach {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 20px;
}
.text__mQy6P {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 206px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__mQy6P {
    padding-top: 129px;
  }
}
