.carouselBody:global(.__wab_instance) {
  max-width: 100%;
  max-height: 55vw;
  position: relative;
  height: 544px;
  transition-property: all;
  transition-duration: 1s;
  transform: translateX(0px) translateY(-60px) translateZ(0px);
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (max-width: 500px) {
  .carouselBody:global(.__wab_instance) {
    height: 405px;
    max-height: 70vw;
    flex-shrink: 1;
    margin-bottom: 0px;
  }
}
.freeBox__gjF9Y {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 491px;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__gjF9Y {
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 359px;
  }
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  padding-top: 0px;
  color: #000000;
  min-width: 0;
}
.sliderCarousel:global(.__wab_instance) {
  width: 1114px;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  height: 384px;
  margin-right: 0px;
  transition-property: all;
  transition-duration: 1s;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (max-width: 500px) {
  .sliderCarousel:global(.__wab_instance) {
    transform: translateX(0px) translateY(0px) translateZ(0px);
    height: 274px;
    flex-shrink: 0;
  }
}
.freeBox__wbhgI {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50vw;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___4E462 {
  object-fit: cover;
  max-width: 100%;
  height: 368px;
  flex-shrink: 0;
}
.img___4E462 > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img___4E462 {
    height: 250px;
    flex-shrink: 0;
  }
}
.freeBox__xGePh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__bhd3L {
  object-fit: cover;
  max-width: 100%;
  height: 368px;
  flex-shrink: 0;
}
.img__bhd3L > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__bhd3L {
    height: 250px;
    max-width: 100%;
    flex-shrink: 0;
  }
}
.freeBox__qz7Pm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__lrEdn {
  object-fit: cover;
  max-width: 100%;
  height: 368px;
  transition-property: all;
  transition-duration: 1s;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.img__lrEdn > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__lrEdn {
    height: 250px;
    max-width: 100%;
    flex-shrink: 0;
  }
}
.freeBox___5UGAd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___5UGAd {
    width: 100%;
    height: auto;
    max-width: 50vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 8px;
  }
}
.img__rQNgK {
  object-fit: cover;
  max-width: 100%;
  height: 368px;
  flex-shrink: 0;
}
.img__rQNgK > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__rQNgK {
    height: 368px;
    max-width: 100%;
    flex-shrink: 0;
  }
}
@media (max-width: 500px) {
  .img__rQNgK {
    height: 250px;
    max-width: 100%;
    flex-shrink: 0;
  }
}
.freeBox__nrhoq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__nrhoq {
    width: 100%;
    height: auto;
    max-width: 50vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 8px;
  }
}
.img__zecj1 {
  object-fit: cover;
  max-width: 100%;
  height: 368px;
  flex-shrink: 0;
}
.img__zecj1 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__zecj1 {
    height: 368px;
    max-width: 100%;
    flex-shrink: 0;
  }
}
@media (max-width: 500px) {
  .img__zecj1 {
    height: 250px;
    max-width: 100%;
    flex-shrink: 0;
  }
}
.freeBox__uiZ5G {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__uiZ5G {
    width: 100%;
    height: auto;
    max-width: 50vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 8px;
  }
}
.img__ryEjU {
  object-fit: cover;
  max-width: 100%;
  height: 368px;
  flex-shrink: 0;
}
.img__ryEjU > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__ryEjU {
    height: 368px;
    max-width: 100%;
    flex-shrink: 0;
  }
}
@media (max-width: 500px) {
  .img__ryEjU {
    height: 250px;
    max-width: 100%;
    flex-shrink: 0;
  }
}
.freeBox__rlhzl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__rlhzl {
    width: 100%;
    height: auto;
    max-width: 50vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 8px;
  }
}
.img__dqeBx {
  object-fit: cover;
  max-width: 100%;
  height: 368px;
  flex-shrink: 0;
}
.img__dqeBx > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__dqeBx {
    height: 368px;
    max-width: 100%;
    flex-shrink: 0;
  }
}
@media (max-width: 500px) {
  .img__dqeBx {
    height: 250px;
    max-width: 100%;
    flex-shrink: 0;
  }
}
.freeBox__tTaL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__tTaL {
    width: 100%;
    height: auto;
    max-width: 50vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 8px;
  }
}
.img__fueot {
  object-fit: cover;
  max-width: 100%;
  height: 368px;
  flex-shrink: 0;
}
.img__fueot > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__fueot {
    height: 368px;
    max-width: 100%;
    flex-shrink: 0;
  }
}
@media (max-width: 500px) {
  .img__fueot {
    height: 250px;
    max-width: 100%;
    flex-shrink: 0;
  }
}
.freeBox__rsOx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__rsOx {
    width: 100%;
    height: auto;
    max-width: 50vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 8px;
  }
}
.img__ycLPm {
  object-fit: cover;
  max-width: 100%;
  height: 368px;
  flex-shrink: 0;
}
.img__ycLPm > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__ycLPm {
    height: 368px;
    max-width: 100%;
    flex-shrink: 0;
  }
}
@media (max-width: 500px) {
  .img__ycLPm {
    height: 250px;
    max-width: 100%;
    flex-shrink: 0;
  }
}
