@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-FfnkRO1btF_H: 1140px;
  --plasmic-token-content-max-width: var(--token-FfnkRO1btF_H);
  --token-xSsAv6cLfARh: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-xSsAv6cLfARh);
  --token-Cbnp9oVdYB-O: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-Cbnp9oVdYB-O);
  --token-qh1SCWBFlGhr: #92959bd9;
  --plasmic-token-light-label: var(--token-qh1SCWBFlGhr);
  --token-JKgsqVvDElh2: #05050599;
  --plasmic-token-light-secondary: var(--token-JKgsqVvDElh2);
  --token-SLtPpLfzs-qX: #007aff;
  --plasmic-token-light-blue: var(--token-SLtPpLfzs-qX);
  --token-4W9oWg2V2JXg: #ff3b30;
  --plasmic-token-light-red: var(--token-4W9oWg2V2JXg);
  --token-O76ehXS0xds3: #ffffff;
  --plasmic-token-white: var(--token-O76ehXS0xds3);
  --token-ReL3XByXCcp2: #ffffffd9;
  --plasmic-token-dark-label: var(--token-ReL3XByXCcp2);
  --token-IwpVn4ohntlH: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-IwpVn4ohntlH);
  --token-WzAft9Q-jlBF: #0000001a;
  --plasmic-token-light-quarternary: var(--token-WzAft9Q-jlBF);
  --token-aFqcaIIgnmYK: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-aFqcaIIgnmYK);
  --token-iiuDp-BT0QVK: #32d74b;
  --plasmic-token-dark-green: var(--token-iiuDp-BT0QVK);
  --token-3TOaQdUgpufe: #0a84ff;
  --plasmic-token-dark-blue: var(--token-3TOaQdUgpufe);
  --token-ayZEnTOTQWPR: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-ayZEnTOTQWPR);
  --token-zg-EIZOxYNXg: #34c759;
  --plasmic-token-light-green: var(--token-zg-EIZOxYNXg);
  --token-pziO8v-Wv8_P: #5856d6;
  --plasmic-token-light-indigo: var(--token-pziO8v-Wv8_P);
  --token-LBsGwlvNhsxE: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-LBsGwlvNhsxE);
  --token-LBsGwlvNhsxE: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-LBsGwlvNhsxE);
  --token-VjgVX-XpR-q3: 1240px;
  --plasmic-token-max-width-navbar: var(--token-VjgVX-XpR-q3);
  --token-VjgVX-XpR-q3: 1240px;
  --plasmic-token-max-width-navbar: var(--token-VjgVX-XpR-q3);
  --token-hvVTv8IIWuke: var(--token-I1iDBrpMPajy);
  --plasmic-token-unnamed-style-token-2: var(--token-hvVTv8IIWuke);
  --token-hvVTv8IIWuke: var(--token-I1iDBrpMPajy);
  --plasmic-token-unnamed-style-token-2: var(--token-hvVTv8IIWuke);
  --token-I1iDBrpMPajy: #eeeeee80;
  --plasmic-token-grey: var(--token-I1iDBrpMPajy);
  --token-I1iDBrpMPajy: #eeeeee80;
  --plasmic-token-grey: var(--token-I1iDBrpMPajy);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin--_RbyIraCFCy_font-family: "Montserrat", sans-serif;
  --mixin--_RbyIraCFCy_font-size: 24px;
  --mixin--_RbyIraCFCy_font-weight: 500;
  --mixin--_RbyIraCFCy_font-style: normal;
  --mixin--_RbyIraCFCy_color: #00000080;
  --mixin--_RbyIraCFCy_text-align: left;
  --mixin--_RbyIraCFCy_text-transform: none;
  --mixin--_RbyIraCFCy_line-height: 1.5;
  --mixin--_RbyIraCFCy_letter-spacing: normal;
  --mixin--_RbyIraCFCy_white-space: pre-wrap;
  --mixin--_RbyIraCFCy_user-select: text;
  --mixin--_RbyIraCFCy_text-decoration-line: none;
  --mixin--_RbyIraCFCy_text-overflow: clip;
  --mixin-TuasscqJnZpP_white-space: pre-wrap;
  --mixin-igp9sT5DW5Ru_font-family: "Montserrat", sans-serif;
  --mixin-igp9sT5DW5Ru_color: #ffffff;
  --mixin-igp9sT5DW5Ru_font-size: 72px;
  --mixin-igp9sT5DW5Ru_font-weight: 700;
  --mixin-igp9sT5DW5Ru_line-height: 88px;
  --mixin-igp9sT5DW5Ru_white-space: pre-wrap;
  --mixin-I4X-EG3odX5h_font-family: "Inter", sans-serif;
  --mixin-I4X-EG3odX5h_color: #000000;
  --mixin-I4X-EG3odX5h_font-size: 36px;
  --mixin-I4X-EG3odX5h_font-weight: 700;
  --mixin-I4X-EG3odX5h_line-height: 43px;
  --mixin-I4X-EG3odX5h_text-align: center;
  --mixin-I4X-EG3odX5h_white-space: pre-wrap;
  --mixin-t-QziBNBqHtn_font-family: "Inter", sans-serif;
  --mixin-t-QziBNBqHtn_color: #000000;
  --mixin-t-QziBNBqHtn_font-size: 24px;
  --mixin-t-QziBNBqHtn_font-weight: 600;
  --mixin-t-QziBNBqHtn_letter-spacing: -0.5px;
  --mixin-t-QziBNBqHtn_line-height: 1.3;
  --mixin-t-QziBNBqHtn_white-space: pre-wrap;
  --mixin-AlBfwrZ_Jwy1_font-family: "Montserrat", sans-serif;
  --mixin-AlBfwrZ_Jwy1_color: #185adb;
  --mixin-AlBfwrZ_Jwy1_font-size: 24px;
  --mixin-AlBfwrZ_Jwy1_font-weight: 700;
  --mixin-AlBfwrZ_Jwy1_line-height: 29px;
  --mixin-AlBfwrZ_Jwy1_text-align: center;
  --mixin-AlBfwrZ_Jwy1_white-space: pre-wrap;
  --mixin-RfWwruEqwepq_font-family: "Inter", sans-serif;
  --mixin-RfWwruEqwepq_color: #000000;
  --mixin-RfWwruEqwepq_font-size: 16px;
  --mixin-RfWwruEqwepq_font-weight: 600;
  --mixin-RfWwruEqwepq_line-height: 1.5;
  --mixin-RfWwruEqwepq_white-space: pre-wrap;
  --mixin-1UuPcFQCH2cl_border-left-color: #dddddd;
  --mixin-1UuPcFQCH2cl_border-left-style: solid;
  --mixin-1UuPcFQCH2cl_border-left-width: 3px;
  --mixin-1UuPcFQCH2cl_color: #888888;
  --mixin-1UuPcFQCH2cl_padding-left: 10px;
  --mixin-1UuPcFQCH2cl_white-space: pre-wrap;
  --mixin-CU2yc1m53ZYz_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-CU2yc1m53ZYz_border-bottom-color: #dddddd;
  --mixin-CU2yc1m53ZYz_border-bottom-style: solid;
  --mixin-CU2yc1m53ZYz_border-bottom-width: 1px;
  --mixin-CU2yc1m53ZYz_border-left-color: #dddddd;
  --mixin-CU2yc1m53ZYz_border-left-style: solid;
  --mixin-CU2yc1m53ZYz_border-left-width: 1px;
  --mixin-CU2yc1m53ZYz_border-right-color: #dddddd;
  --mixin-CU2yc1m53ZYz_border-right-style: solid;
  --mixin-CU2yc1m53ZYz_border-right-width: 1px;
  --mixin-CU2yc1m53ZYz_border-top-color: #dddddd;
  --mixin-CU2yc1m53ZYz_border-top-style: solid;
  --mixin-CU2yc1m53ZYz_border-top-width: 1px;
  --mixin-CU2yc1m53ZYz_border-bottom-left-radius: 3px;
  --mixin-CU2yc1m53ZYz_border-bottom-right-radius: 3px;
  --mixin-CU2yc1m53ZYz_border-top-left-radius: 3px;
  --mixin-CU2yc1m53ZYz_border-top-right-radius: 3px;
  --mixin-CU2yc1m53ZYz_font-family: "Inconsolata";
  --mixin-CU2yc1m53ZYz_padding-bottom: 1px;
  --mixin-CU2yc1m53ZYz_padding-left: 4px;
  --mixin-CU2yc1m53ZYz_padding-right: 4px;
  --mixin-CU2yc1m53ZYz_padding-top: 1px;
  --mixin-CU2yc1m53ZYz_white-space: pre-wrap;
  --mixin-zpjnFRAU-XnG_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-zpjnFRAU-XnG_border-bottom-color: #dddddd;
  --mixin-zpjnFRAU-XnG_border-bottom-style: solid;
  --mixin-zpjnFRAU-XnG_border-bottom-width: 1px;
  --mixin-zpjnFRAU-XnG_border-left-color: #dddddd;
  --mixin-zpjnFRAU-XnG_border-left-style: solid;
  --mixin-zpjnFRAU-XnG_border-left-width: 1px;
  --mixin-zpjnFRAU-XnG_border-right-color: #dddddd;
  --mixin-zpjnFRAU-XnG_border-right-style: solid;
  --mixin-zpjnFRAU-XnG_border-right-width: 1px;
  --mixin-zpjnFRAU-XnG_border-top-color: #dddddd;
  --mixin-zpjnFRAU-XnG_border-top-style: solid;
  --mixin-zpjnFRAU-XnG_border-top-width: 1px;
  --mixin-zpjnFRAU-XnG_border-bottom-left-radius: 3px;
  --mixin-zpjnFRAU-XnG_border-bottom-right-radius: 3px;
  --mixin-zpjnFRAU-XnG_border-top-left-radius: 3px;
  --mixin-zpjnFRAU-XnG_border-top-right-radius: 3px;
  --mixin-zpjnFRAU-XnG_font-family: "Inconsolata";
  --mixin-zpjnFRAU-XnG_padding-bottom: 3px;
  --mixin-zpjnFRAU-XnG_padding-left: 6px;
  --mixin-zpjnFRAU-XnG_padding-right: 6px;
  --mixin-zpjnFRAU-XnG_padding-top: 3px;
  --mixin-zpjnFRAU-XnG_white-space: pre-wrap;
  --mixin-8_TcBcNWanSg_display: flex;
  --mixin-8_TcBcNWanSg_flex-direction: column;
  --mixin-8_TcBcNWanSg_align-items: stretch;
  --mixin-8_TcBcNWanSg_justify-content: flex-start;
  --mixin-8_TcBcNWanSg_list-style-position: outside;
  --mixin-8_TcBcNWanSg_padding-left: 40px;
  --mixin-8_TcBcNWanSg_position: relative;
  --mixin-8_TcBcNWanSg_list-style-type: decimal;
  --mixin-8_TcBcNWanSg_white-space: pre-wrap;
  --mixin--i8kPLgB6gUw_display: flex;
  --mixin--i8kPLgB6gUw_flex-direction: column;
  --mixin--i8kPLgB6gUw_align-items: stretch;
  --mixin--i8kPLgB6gUw_justify-content: flex-start;
  --mixin--i8kPLgB6gUw_list-style-position: outside;
  --mixin--i8kPLgB6gUw_padding-left: 40px;
  --mixin--i8kPLgB6gUw_position: relative;
  --mixin--i8kPLgB6gUw_list-style-type: disc;
  --mixin--i8kPLgB6gUw_white-space: pre-wrap;
  --mixin-WsRtycI7zWdF_color: #000000;
  --mixin-WsRtycI7zWdF_font-family: "Montserrat", sans-serif;
  --mixin-WsRtycI7zWdF_font-size: 64px;
  --mixin-WsRtycI7zWdF_font-weight: 700;
  --mixin-WsRtycI7zWdF_line-height: 78px;
  --mixin-WsRtycI7zWdF_text-align: center;
  --mixin-WsRtycI7zWdF_white-space: pre-wrap;
  --mixin-PBicxplWJGkR_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 930px) {
  .plasmic_default_styles {
    --mixin--_RbyIraCFCy_font-size: 16px;
    --mixin--_RbyIraCFCy_line-height: 27px;
    --mixin--_RbyIraCFCy_white-space: pre-wrap;
    --mixin-igp9sT5DW5Ru_font-size: 40px;
    --mixin-igp9sT5DW5Ru_line-height: 48px;
    --mixin-igp9sT5DW5Ru_white-space: pre-wrap;
    --mixin-WsRtycI7zWdF_font-size: 28px;
    --mixin-WsRtycI7zWdF_line-height: 34px;
    --mixin-WsRtycI7zWdF_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-9wIoj0j4Kqxo_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-9wIoj0j4Kqxo_white-space);
  --mixin-iTCO0aRJBxXu_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-iTCO0aRJBxXu_box-shadow
  );
  --mixin-iTCO0aRJBxXu_white-space: pre-wrap;
  --plasmic-mixin-medium-shadow_white-space: var(
    --mixin-iTCO0aRJBxXu_white-space
  );
  --mixin-yaT6XvB0-w-8_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-yaT6XvB0-w-8_white-space);
  --mixin-OEAaQ_P26IfE_white-space: pre-wrap;
  --plasmic-mixin-dark-section-background_white-space: var(
    --mixin-OEAaQ_P26IfE_white-space
  );
  --mixin-QNUX1uF0o59B_white-space: pre-wrap;
  --plasmic-mixin-content-max_white-space: var(
    --mixin-QNUX1uF0o59B_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin--_RbyIraCFCy_font-family);
  font-size: var(--mixin--_RbyIraCFCy_font-size);
  font-weight: var(--mixin--_RbyIraCFCy_font-weight);
  font-style: var(--mixin--_RbyIraCFCy_font-style);
  color: var(--mixin--_RbyIraCFCy_color);
  text-align: var(--mixin--_RbyIraCFCy_text-align);
  text-transform: var(--mixin--_RbyIraCFCy_text-transform);
  line-height: var(--mixin--_RbyIraCFCy_line-height);
  letter-spacing: var(--mixin--_RbyIraCFCy_letter-spacing);
  white-space: var(--mixin--_RbyIraCFCy_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-igp9sT5DW5Ru_font-family);
  color: var(--mixin-igp9sT5DW5Ru_color);
  font-size: var(--mixin-igp9sT5DW5Ru_font-size);
  font-weight: var(--mixin-igp9sT5DW5Ru_font-weight);
  line-height: var(--mixin-igp9sT5DW5Ru_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-I4X-EG3odX5h_font-family);
  color: var(--mixin-I4X-EG3odX5h_color);
  font-size: var(--mixin-I4X-EG3odX5h_font-size);
  font-weight: var(--mixin-I4X-EG3odX5h_font-weight);
  line-height: var(--mixin-I4X-EG3odX5h_line-height);
  text-align: var(--mixin-I4X-EG3odX5h_text-align);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-t-QziBNBqHtn_font-family);
  color: var(--mixin-t-QziBNBqHtn_color);
  font-size: var(--mixin-t-QziBNBqHtn_font-size);
  font-weight: var(--mixin-t-QziBNBqHtn_font-weight);
  letter-spacing: var(--mixin-t-QziBNBqHtn_letter-spacing);
  line-height: var(--mixin-t-QziBNBqHtn_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-AlBfwrZ_Jwy1_font-family);
  color: var(--mixin-AlBfwrZ_Jwy1_color);
  font-size: var(--mixin-AlBfwrZ_Jwy1_font-size);
  font-weight: var(--mixin-AlBfwrZ_Jwy1_font-weight);
  line-height: var(--mixin-AlBfwrZ_Jwy1_line-height);
  text-align: var(--mixin-AlBfwrZ_Jwy1_text-align);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-RfWwruEqwepq_font-family);
  color: var(--mixin-RfWwruEqwepq_color);
  font-size: var(--mixin-RfWwruEqwepq_font-size);
  font-weight: var(--mixin-RfWwruEqwepq_font-weight);
  line-height: var(--mixin-RfWwruEqwepq_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-1UuPcFQCH2cl_color);
  padding-left: var(--mixin-1UuPcFQCH2cl_padding-left);
  border-left: var(--mixin-1UuPcFQCH2cl_border-left-width)
    var(--mixin-1UuPcFQCH2cl_border-left-style)
    var(--mixin-1UuPcFQCH2cl_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-CU2yc1m53ZYz_font-family);
  border-radius: var(--mixin-CU2yc1m53ZYz_border-top-left-radius)
    var(--mixin-CU2yc1m53ZYz_border-top-right-radius)
    var(--mixin-CU2yc1m53ZYz_border-bottom-right-radius)
    var(--mixin-CU2yc1m53ZYz_border-bottom-left-radius);
  padding: var(--mixin-CU2yc1m53ZYz_padding-top)
    var(--mixin-CU2yc1m53ZYz_padding-right)
    var(--mixin-CU2yc1m53ZYz_padding-bottom)
    var(--mixin-CU2yc1m53ZYz_padding-left);
  border-top: var(--mixin-CU2yc1m53ZYz_border-top-width)
    var(--mixin-CU2yc1m53ZYz_border-top-style)
    var(--mixin-CU2yc1m53ZYz_border-top-color);
  border-right: var(--mixin-CU2yc1m53ZYz_border-right-width)
    var(--mixin-CU2yc1m53ZYz_border-right-style)
    var(--mixin-CU2yc1m53ZYz_border-right-color);
  border-bottom: var(--mixin-CU2yc1m53ZYz_border-bottom-width)
    var(--mixin-CU2yc1m53ZYz_border-bottom-style)
    var(--mixin-CU2yc1m53ZYz_border-bottom-color);
  border-left: var(--mixin-CU2yc1m53ZYz_border-left-width)
    var(--mixin-CU2yc1m53ZYz_border-left-style)
    var(--mixin-CU2yc1m53ZYz_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-zpjnFRAU-XnG_font-family);
  border-radius: var(--mixin-zpjnFRAU-XnG_border-top-left-radius)
    var(--mixin-zpjnFRAU-XnG_border-top-right-radius)
    var(--mixin-zpjnFRAU-XnG_border-bottom-right-radius)
    var(--mixin-zpjnFRAU-XnG_border-bottom-left-radius);
  padding: var(--mixin-zpjnFRAU-XnG_padding-top)
    var(--mixin-zpjnFRAU-XnG_padding-right)
    var(--mixin-zpjnFRAU-XnG_padding-bottom)
    var(--mixin-zpjnFRAU-XnG_padding-left);
  border-top: var(--mixin-zpjnFRAU-XnG_border-top-width)
    var(--mixin-zpjnFRAU-XnG_border-top-style)
    var(--mixin-zpjnFRAU-XnG_border-top-color);
  border-right: var(--mixin-zpjnFRAU-XnG_border-right-width)
    var(--mixin-zpjnFRAU-XnG_border-right-style)
    var(--mixin-zpjnFRAU-XnG_border-right-color);
  border-bottom: var(--mixin-zpjnFRAU-XnG_border-bottom-width)
    var(--mixin-zpjnFRAU-XnG_border-bottom-style)
    var(--mixin-zpjnFRAU-XnG_border-bottom-color);
  border-left: var(--mixin-zpjnFRAU-XnG_border-left-width)
    var(--mixin-zpjnFRAU-XnG_border-left-style)
    var(--mixin-zpjnFRAU-XnG_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-8_TcBcNWanSg_display);
  flex-direction: var(--mixin-8_TcBcNWanSg_flex-direction);
  align-items: var(--mixin-8_TcBcNWanSg_align-items);
  justify-content: var(--mixin-8_TcBcNWanSg_justify-content);
  list-style-position: var(--mixin-8_TcBcNWanSg_list-style-position);
  padding-left: var(--mixin-8_TcBcNWanSg_padding-left);
  position: var(--mixin-8_TcBcNWanSg_position);
  list-style-type: var(--mixin-8_TcBcNWanSg_list-style-type);
  flex-column-gap: var(--mixin-8_TcBcNWanSg_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin--i8kPLgB6gUw_display);
  flex-direction: var(--mixin--i8kPLgB6gUw_flex-direction);
  align-items: var(--mixin--i8kPLgB6gUw_align-items);
  justify-content: var(--mixin--i8kPLgB6gUw_justify-content);
  list-style-position: var(--mixin--i8kPLgB6gUw_list-style-position);
  padding-left: var(--mixin--i8kPLgB6gUw_padding-left);
  position: var(--mixin--i8kPLgB6gUw_position);
  list-style-type: var(--mixin--i8kPLgB6gUw_list-style-type);
  flex-column-gap: var(--mixin--i8kPLgB6gUw_flex-column-gap);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-WsRtycI7zWdF_color);
  font-family: var(--mixin-WsRtycI7zWdF_font-family);
  font-size: var(--mixin-WsRtycI7zWdF_font-size);
  font-weight: var(--mixin-WsRtycI7zWdF_font-weight);
  line-height: var(--mixin-WsRtycI7zWdF_line-height);
  text-align: var(--mixin-WsRtycI7zWdF_text-align);
}

:where(.root_reset) h2:where(.h2):hover,
h2:where(.root_reset.h2):hover,
:where(.root_reset .__wab_expr_html_text) h2:hover,
:where(.root_reset_tags) h2:hover,
h2:where(.root_reset_tags):hover {
}
